<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>connectivity1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>first</display-name>
    <servlet-name>first</servlet-name>
    <servlet-class>com.java.first</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.java.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dwef</display-name>
    <servlet-name>dwef</servlet-name>
    <servlet-class>dwef</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwef</servlet-name>
    <url-pattern>/dwef</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demo</display-name>
    <servlet-name>demo</servlet-name>
    <servlet-class>com.servlet.demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demo1</display-name>
    <servlet-name>demo1</servlet-name>
    <servlet-class>com.java.demo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo1</servlet-name>
    <url-pattern>/demo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demo11</display-name>
    <servlet-name>demo11</servlet-name>
    <servlet-class>demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo11</servlet-name>
    <url-pattern>/demo11</url-pattern>
  </servlet-mapping>
</web-app>